@media screen and (max-width: 576px) {
  .btn {
    font-size: 12px;
    padding: 12px 18px;
  }
  .btn.light {
    padding: 10px 18px;
  }
  nav ul {
    display: none;
  }
  .hero {
    flex-direction: column;
    gap: 40px;
  }
  .hero .left h2 {
    font-size: 2.8rem;
  }
  .hero .left p {
    font-size: 14px;
  }
  .hero .right .achivement-card h4 {
    font-size: 1.1rem;
  }

  .hero .right .achivement-card p {
    font-size: 10px;
  }
  .hero .right .achivement-card.workout {
    top: 46px;
    right: -34px;
  }
  .hero .right .achivement-card.tutorial {
    bottom: 220px;
    left: 12px;
  }
  .hero .right .achivement-card.tutorial img {
    width: 25px;
  }
}

@media screen and (min-width: 577px) and (max-width:992px) {
  nav .logo {
    font-size: 26px;
  }
  nav ul {
    gap: 20px;
  }
  nav ul li a {
    font-size: 14px;
  }
  .hero {
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
  }
  .hero .left h2 {
    font-size: 4rem;
  }
  .hero .right .achivement-card.workout {
    top: 40px;
    right: -40px;
  }
  .hero .right .achivement-card.tutorial {
    bottom: 128px;
    left: -41px;
  }
}


@media screen and (min-width:993px) and (max-width:1236px) {
  .hero .left p{
    max-width: 350px;
  }
}