/* Inter font link from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Miama font link */
@import url("https://fonts.cdnfonts.com/css/miama");

:root {
  --primary-color: rgb(255, 255, 255);
  --secoundary-color: rgba(255, 255, 255, 0.5);
  --bg-color: rgb(0, 0, 0);
  --secoundary-bg-color: rgb(34, 34, 34);
  --orange-color: rgb(230, 83, 60);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: #fff;
}

.wrapper {
  width: 72%;
  max-width: 1044px;
  margin: 0 auto;
}

.btn {
  padding: 14px 33px;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--orange-color);
  cursor: pointer;
}

.btn.light {
  padding: 12px 33px;
  border: 2px solid;
  background-color: transparent;
}

.btn.dark:hover {
  animation: pulses-orrange 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulses-orrange {
  0% {
    box-shadow: 0 0 0 0 var(--orange-color);
  }
}

.section-title {
  color: var(--primary-color);
  font-size: 2.82rem;
  font-weight: 900;
  line-height: 120%;
}

/* Header section styles */
.header {
  background: linear-gradient(90deg, #111111 0%, #1e1e1e 100%);
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

nav .logo {
  color: var(--orange-color);
  font-size: 1.7rem;
  font-weight: 800;
  font-style: italic;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 8px;
  list-style: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 400;
}

nav ul li:first-child {
  background-color: var(--orange-color);
  padding: 4px 12px;
  border-radius: 100px;
}

/* hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .left {
  max-width: 480px;
}

.hero .left h2 {
  font-size: 4.61rem;
  font-weight: 900;
  line-height: 90%;
  margin-bottom: 24px;
}

.hero .left .hilight {
  font-family: "Miama", sans-serif;
  font-weight: 300;
}

.hero .left p {
  color: var(--secoundary-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.hero .buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero .right {
  position: relative;
}

.hero .right img {
  width: 100%;
}

.hero .right .achivement-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.54);
  position: absolute;
  padding: 20px 23px;
}

.hero .right .achivement-card h4 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 5px;
}

.hero .right .achivement-card p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  letter-spacing: 1px;
}

.hero .right .achivement-card.workout {
  top: 114px;
  right: -68px;
}

.hero .right .achivement-card.tutorial {
  bottom: 83px;
  left: -110px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.play-wrapper {
  padding: 6px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #ff2c2c,
    #ff6a00,
    #ffd500,
    #6eff7b,
    #ff2c2c
  ); /* red to green loop */
  background-size: 400% 400%;
  animation: rotateBorder 4s linear infinite;
  display: inline-block;
}

@keyframes rotateBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.play-btn {
  border-radius: 50%;
  display: block;
  background-color: black;
  cursor: pointer;
}

/* Habits Section styles */
.habits {
  margin-top: 100px;
}

.habits .wrapper > h2 {
  text-align: center;
  margin-bottom: 12px;
}

.habits .wrapper > p {
  max-width: 630px;
  margin: 0 auto;
  text-align: center;
  color: var(--secoundary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.habits-cards {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 46px;
  text-align: center;
}

.habits-cards .card img {
  border: 2px solid var(--secoundary-color);
  border-radius: 100px;
  margin-bottom: 14px;
}

.habits-cards .card h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 6px;
  color: var(--primary-color);
}

.habits-cards .card p {
  color: var(--secoundary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
